//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
//@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//$font-primary: "Roboto", sans-serif;
//$font-secondary: "Open Sans", sans-serif;
//$font-Poppins: "Poppins", sans-serif;

$black: #000000;

$color-blue-dark: #2f3c43;

$color-blue-1: #2c8eea;
$color-blue-2: #dceefe;
$color-blue-3: #e8eef1;

$color-orange-1: #ed7632;
$color-orange-2: #ff9376;
$color-orange-3: #fde7db;

$color-green-1: #316064;
$color-green-2: #4b908e;
$color-green-3: #73c0b0;
$color-green-4: #b8d7d5;

$color-grey-1: #515151;
$color-grey-2: #646567;
$color-grey-3: #666666;
$color-grey-4: #6e6e6e;
$color-grey-5: #868686;
$color-grey-6: #d4d4d4;
$color-grey-7: #f5f6fa;

$color-grey-8: #fafafa;
$color-grey-9: #c4c4c4;

//GRID Widths and Lengths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-border-radius: 3px;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

// FONT SIZES

$default-font-size: 1.6rem;
